$color-primary: #ffffff;

$primary-fonts: "Work Sans", sans-serif;
$color-background: #2b2b2b;
$accent-color: #8b4cdc;
$seconday-background-color: #3b3b3b;

$gradient: 190deg, transparent 0%, #3b3b3b 50%, #8b4cdc 50%, #8b4cdc;

$secondary-font: "Space Mono", monospace;
