.section__category {
  h2 {
    padding-bottom: 6rem;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(big-phone) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  &__card {
    background-color: $seconday-background-color;

    background-color: red;
    border-radius: 3rem;
    // overflow: hidden;

    figure {}

  }



  // z-index: -2;
  //   figure {

  //     .overlay {
  //       display: none;
  //     }


  //     img {
  //       width: 100%;
  //       border-radius: 2rem 2rem 0 0;
  //       // display: block;
  //       overflow: hidden;
  //     }

  //     position: relative;



  //   }
  // }

  // // img:hover {
  // //   z-index: 3;
  // //   transform: scale(1.05);
  // // }

  // figure:hover {
  //   .overlay {
  //     display: block !important;
  //   }

  //   @include absCenter;
  //   // bb: blur(1rem);
  //   background-color: #ffffff4f;
  //   // filter: blur(2px);
  //   padding: 100vw;
  // }

  .card-p {
    padding: 2rem 3rem;

    @include respond(big-phone) {
      padding: 4rem 5rem;

      p {
        font-size: 5rem;
      }
    }
  }
}