.section-subscibe {
  .subscribe__widget {
    background-color: $seconday-background-color;
    border-radius: 2rem;
    display: flex;


    // align-items: center;
    padding: 8rem 6rem;
    @include respond ( big-phone){
      padding: 4rem 3.5rem;
      // padding: 0;
      // background-color: blue;
    }

    @include respond (big-phone) {
   display: grid;grid-template-columns: repeat(1, 1fr);

    }

    &--img {
      width: 45.5rem;

      flex: 1;

      img {
        width: 100%;
      }

    }

    &--text-box {
      padding-left: 8rem;
      flex: 1;

      @include respond (big-phone) {
        margin-top: 2rem;
        padding-left: 0 !important;
      }

      h3 {
        text-transform: capitalize;
      }
    }
  }
}