.btn:link,
.btn:visited {
  padding-left: 1rem;
  background-color: $accent-color;
  border-radius: 2rem;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease;
  overflow: hidden;
}

.btn-icon {
  padding-right: 1rem;
}

.btn:hover,
.btn:active {
  overflow: hidden;
  // background-color: $color-primary;
  transform: scale(1.1);
  background-image: linear-gradient($gradient);

  .btn-icon:hover {
    color: $color-primary;
  }
}

.trans-btn {
  justify-content: center;
  border: 2px solid #8b4cdc;
  background-color: transparent !important;
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8b4cdc;
}
