.btn:link,
.btn:visited {
  padding-left: 1rem;
  background-color: $accent-color;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  border-radius: 2rem;

  transition: all 300ms ease;
  overflow: hidden;
  @include respond(tab-port) {
    border-radius: 1rem;
    padding: 1.5rem 3rem;
  }
  @include respond(big-phone) {
    border-radius: 1rem;
    padding: 1rem 2.4rem;
  }
}

.btn-icon {
  padding-right: 1rem;
}

.btn:hover,
.btn:active {
  overflow: hidden;
  // background-color: $color-primary;
  transform: scale(1.1);
  background-image: linear-gradient($gradient);

  .btn-icon:hover {
    color: $color-primary;
  }
}

.trans-btn {
  justify-content: center;
  border: 2px solid #8b4cdc;
  background-color: transparent !important;
  @include respond(tab-port) {
    border-radius: 1rem;
    padding: 1.5rem 2rem;
  }
  @include respond(big-phone) {
    border-radius: 1rem;
    padding: 1rem 2.4rem;
  }
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8b4cdc;
}
